<div id="<%= dom_id entrance %>">
  <p>
    <strong>Amount:</strong>
    <%= entrance.amount %>
  </p>

  <p>
    <strong>Current amount:</strong>
    <%= entrance.current_amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= entrance.user_id %>
  </p>

</div>
